.product-container {
    padding-top: 16px;

    .product-detail {
        margin: 10px 0;

        .product-detail-general-info {
            padding: 32px 32px 32px 0;
            margin-left: 37px;
            min-width: 200px;
            max-width: calc(100% - 680px);

            .product-detail-condition {
                font-size: 14px;
                padding-bottom: 16px;
            }
    
            .product-detail-name {
                font-size: 24px;
                padding: 0 32px 32px 0;
            }
    
            .product-detail-price {
                font-size: 46px;
                padding-bottom: 32px;
            }

            .buy-button-container {
                .buy-product-button {
                    background-color: #3483FA;
                    border: none;
                    color: white;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 18px;
                    height: 45px;
                    width: 100%;
                    cursor: pointer;
                    border-radius: 4px;
                }
            }
        }

        .product-detail-description {
            margin: 0 0 32px 32px;
            max-width: 680px;

            .product-description-title {
                font-size: 28px;
                padding-bottom: 32px;
            }

            .product-description-text {
                font-size: 16px;
                color: #999999
            }
        }
    }

    .product-image-container {
        padding: 32px;
        max-width: 680px;
        max-height: 680px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .product-detail-image {
            min-height: 300px;
            max-height: 680px;
            min-width: 300px;
            max-width: 680px;
        }

        .product-detail-image-loader {
            height: 500px;
            width: 500px;
            margin: 20px;
        }
    }
}