.search-bar {
    .root {
        flex-grow: 1;
        background-color: #FFE600;
        align-items: center;
        box-shadow: none;
    }

    .toolbar {
        padding: 0;
        min-height: 53px;
    }

    .logo-container {
        display: flex;
        justify-content: left;
        align-items: center;
        .logo {
            flex-grow: 1;
            max-width: 53px;
            height: 37px;
        }
    }

    .input-background {
        padding: 0 0 0 4px;
        height: 40px;
        display: flex;
        align-items: center;
        background-color: white;
        box-shadow: none;
    }
    
    .input-search {
        margin-left: 5px;
        flex: 1;
        font-size: 18px;
    }
    
    .search-icon-container {
        height: 100%;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eeeeee;
        border-radius: 0 4px 4px 0;
    }
}
