.results-container {
    padding-top: 16px;
    
    .products-container {
        margin-bottom: 10px;
        background-color: white;
    }
    
    .item-container {
        
        .item-card {
            height:212px;
            border: none;
            
            .item-image-container {
                max-width: 212px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .item-card-image {
                    border-radius: 4px;
                    margin: 16px;
                    max-height: 180px;
                    max-width: 180px;
                    min-height: 100px;
                    min-width: 100px;
                }
            }

            .item-info-container {
                height: 212px;
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;

                .item-price-text {
                    font-size: 24px;
                    margin: 32px 0;
                }
    
                .item-name-text {
                    font-size: 18px;
                    font-weight: normal;
                }
    
                .item-city-text {
                    margin-top: 32px;
                    font-size: 12px;
                }
    
                .item-shippable-icon {
                    padding-left: 10px;
                }
            }

            
            .clickable-section {
                height: 212px;
            }
        }

        .card-border-container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .card-item-border {
                width: calc(100% - 30px);
                height: 1px;
                background-color: #eeeeee;
            }
        }

    
        .item-card-ship-icon {
            color: limegreen;
            margin-left: 10px;
        }
    }

    .item-card-image-loader {
        height: 180px;
        width: 180px;
        margin: 20px;
    }
}